:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --black: black;
  --white: white;
  --slate: #434455;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
html {
  box-sizing: border-box;
}
/* done */
*,
*::before *::after {
  box-sizing: inherit;
}
/* done */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* done */
.link {
  text-decoration: none;
  color: inherit;
}
/* done */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* done */
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  font-size: 16px;
  letter-spacing: 0.03em;
  background-color: var(--white);
}
/* done */
.menu,
.navigation,
.contacts-menu,
.nav-menu {
  display: flex;
  align-items: center;
}
/* done */
.page-header {
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
}

/* done */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* done */
.logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 0;
  font-weight: 800;
  text-decoration: none;
}
/* done */
.logo-link > span {
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
/* done */
.logo,
.studio {
  color: var(--iris, #4d5ae5);
  display: inline-block;
}
/* done */
.studio {
  color: var(--navyblue, #2e2f42);
}
/* done */
.nav-menu {
  margin-left: 93px;
}
/* done */
.nav-menu .page {
  color: var(--navyblue, #2e2f42);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-size: 16px;
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;
}
.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .contact:hover,
.contacts-menu .contact:focus {
  color: var(--iris);
}
/* done */
.contacts-menu {
  margin-left: auto;
}
/* done */
.contacts-menu .contact {
  font-weight: 400;
}
/* done */
.nav-menu .item:not(:last-child),
.contacts-menu .item:not(:last-child) {
  margin-right: 50px;
}
/* done */
.contacts-menu .contact {
  color: var(--slate, #434455);
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
/* done */
.bg-hero {
  background: var(--navyblue, #2e2f42);
}
.hero {
  padding: 200px 0;
  text-align: center;
}
/* done */
.hero-title {
  color: var(--white, #fff);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}
/* done */
.bg-team {
  background-color: var(--cloud);
}
/* done */
.button {
  border-color: transparent;
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
}
/* done */
.button.primary {
  background: var(--iris);
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white);
  font-weight: 500;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* done */
.button.primary:hover,
.button.primary:focus {
  background-color: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* done */
.benefits {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.benefits .item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
/* done */
.benefits .title {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.14;
  margin-bottom: 10px;
}
/* done */
.benefits .description {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17;
}
/* done */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* done */
.section.no-top-padding {
  padding-top: 0px;
}
/* done */
.section-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  font-weight: 700;
}
.what-we-do {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
/* done */
.what-we-do .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}
/* done */
.team {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
/* done */
.team .item {
  flex-basis: calc(100% / 4 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  padding-bottom: 30px;
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* done */
.team .name,
.team .position {
  line-height: 1.19;
  text-align: center;
}
/* done */
.team .name {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 10px;
}
/* done */
.team .position {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
}
/* done */
.logo-link.footer {
  margin-bottom: 20px;
}

/* done */
.page-footer {
  padding: 60px 0;
}
/* done */
.page-footer.bg-footer {
  background: var(--navyblue, #2e2f42);
}
/* done */
.studio-footer {
  color: var(--white);
}
/* done */
.footer-description {
  padding-top: 17.5px;
  color: var(--white);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}
/* done */
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
/* done */
.filters .space + .space {
  margin-left: 8px;
}
/* done */
.button.filter {
  padding: 6px 22px;
  background: var(--cloud, #f4f4fd);
  color: var(--iris);
  font-weight: 500;
  line-height: 1.62;
}
/* done */
.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background-color: var(--ocean);
  color: var(--cloud);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-card {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

/* done */
.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
/* done */
.project .name {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 6px;
}
/* done */
.project .type {
  color: var(--slate, #434455);
  font-weight: 400;
  line-height: 1.87;
  font-size: 16px;
}
/* done */
.substrate {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
  background-color: var(--white);
}
