/* CSS VARIABLES */
:root {
  --primary-text-color: #434455;
  --primary-white-color: #ffff;
  --primary-background-color: #2e2f42;
}
body {
  font-family: "Roboto", sans-serif;
}
/* GENERAL STYLE */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.item-title {
}
