:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --black: black;
  --white: white;
  --slate: #434455;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before *::after {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  font-size: 16px;
  letter-spacing: 0.03em;
  background-color: var(--white);
}
.menu,
.navigation,
.contacts-menu,
.nav-menu {
  display: flex;
  align-items: center;
}
.page-header {
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 0;
  font-weight: 800;
  text-decoration: none;
}
.logo-link > span {
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.logo,
.studio {
  color: var(--iris, #4d5ae5);
  display: inline-block;
}
.studio {
  color: var(--navyblue, #2e2f42);
}
.nav-menu {
  margin-left: 93px;
}
.nav-menu .page {
  color: var(--navyblue, #2e2f42);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-size: 16px;
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;
}
.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .contact:hover,
.contacts-menu .contact:focus {
  color: var(--iris);
}
.contacts-menu {
  margin-left: auto;
}
.contacts-menu .contact {
  font-weight: 400;
}
.nav-menu .item:not(:last-child),
.contacts-menu .item:not(:last-child) {
  margin-right: 50px;
}
.contacts-menu .contact {
  color: var(--slate, #434455);
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.bg-hero {
  background: var(--navyblue, #2e2f42);
}
.hero {
  padding: 200px 0;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.78),
      rgba(46, 47, 66, 0.78)
    ),
    url(../images/hero-image.png);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-title {
  color: var(--white, #fff);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}
.bg-team {
  background-color: var(--cloud);
}
.button {
  border-color: transparent;
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
}
.button.primary {
  background: var(--iris);
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white);
  font-weight: 500;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button.primary:hover,
.button.primary:focus {
  background-color: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.feature-icons {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  background-color: var(--cloud);
}
.feature-icons .feature-icons-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.feat-icons {
  align-items: center;
  justify-content: center;
}
.benefits {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.benefits .item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.benefits .title {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.14;
  margin-bottom: 10px;
}
.benefits .description {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section.no-top-padding {
  padding-top: 0px;
}
.section-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  font-weight: 700;
}
.what-we-do {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.what-we-do .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}
.team {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.team .item {
  flex-basis: calc(100% / 4 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  padding-bottom: 30px;
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.team .name,
.team .position {
  line-height: 1.19;
  text-align: center;
}
.team .name {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 10px;
}
.team .position {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
}

.team-icons-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.team-social-item {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  background: var(--iris);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.team-social-item:hover,
.team-social-item:focus {
  background-color: var(--ocean);
}
.social-icons {
  fill: var(--white);
}
.logo-link.footer {
  margin-bottom: 20px;
}

.page-footer {
  padding: 60px 0;
}
.page-footer.bg-footer {
  background: var(--navyblue, #2e2f42);
}
.studio-footer {
  color: var(--white);
}
.footer-description {
  padding-top: 17.5px;
  color: var(--white);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filters .space + .space {
  margin-left: 8px;
}
.button.filter {
  padding: 6px 22px;
  background: var(--cloud, #f4f4fd);
  color: var(--iris);
  font-weight: 500;
  line-height: 1.62;
}
.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background-color: var(--ocean);
  color: var(--cloud);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-card {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.project .name {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 6px;
}
.project .type {
  color: var(--slate, #434455);
  font-weight: 400;
  line-height: 1.87;
  font-size: 16px;
}
.substrate {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
  background-color: var(--white);
}
